h1{
	margin-top:10px;
	margin-bottom:15px;
	text-align: center;
}

p{
	font-family: Arial;
	text-shadow:0 0 3px rgba(255,255,255,1);
}
#pic{
	border-radius:10px;
	margin-left:13px;
	margin-top:5px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
#pic:hover{
	box-shadow: none;
}
h1{
	font-size: 24px;
}